* {
  box-sizing: border-box;
  margin: 0;
  border: none;
}
:root {
  --bg-color: #efefef;
  --bg-color-dark: #122028;
  --accent-color-darkmode: #00ffea;
  --text-color: #8f8f8f;
  --color-gray: #d9d9d9;
  --accent-color: #e9f1c9;
  --accent-color-dark: #4d0915;
  --box-shadow: 5px 5px 10px #bcbcbc, -5px -5px 10px #e4e4e4;
  --box-shadow-btn: 3px 3px 3px #bcbcbc, -3px -3px 3px #e6e6e6;
  --box-shadow-btn-dark: 3px 3px 3px #0c1111, -3px -3px 3px #0c1111;
  --box-shadow-inset: inset 3px 3px 5px #cccccc, inset -3px -3px 5px #e1e1e1;
  --box-shadow-inset-dark: inset 3px 3px 5px #0c1111,
    inset -3px -3px 5px #0c1111;
  --box-shadow-dark: 5px 5px 10px #0c1011, -5px -5px 10px #0c1011;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  align-items: center;
  display: flex;
  width: 100vw;
  padding: 0;
  justify-content: center;
  height: 100vh;
  transition: all 0.4s ease;
  overflow: hidden;
}
